/* ==========================================
   CHAPTER I
   THE SEAL
========================================== */

.seal{

    transition:
        transform .25s ease,
        opacity .25s ease;

}

.envelope.open .seal{

    transform:
        translate(-50%, -50%)
        scale(.92);

}

/* ==========================================
   CHAPTER II
   THE FLAP
========================================== */

.flap{

    transform-origin:top center;

    transition:
        transform var(--speed-slow)
        var(--ease);

}

.envelope.open .flap{

    transform:rotateX(180deg);

    transition-delay:.12s;

}

/* ==========================================
   CHAPTER III
   THE LETTER
========================================== */

.envelope.open .letter{

    transform:

        translateX(-50%)

        translateY(-120px);

    transition:

        transform 1s var(--ease);

    transition-delay:.45s;

}