@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600&display=swap');

/* ==========================================
   CHAPTER I
   RESET
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

/* ==========================================
   CHAPTER II
   DOCUMENT
========================================== */

body{

    min-height:100vh;

    overflow-x:hidden;

    background:var(--color-background);

    color:var(--color-text);

    font-family:var(--font-body);

}

/* ==========================================
   CHAPTER III
   MAIN
========================================== */

main{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

/* ==========================================
   CHAPTER IV
   UTILITIES
========================================== */

.hidden{

    display:none !important;

}